Valeant.Sp.UprsWeb/Service References/NavisionCreateAdvanceStatementServiceReference/schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/SPIntegration" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/SPIntegration" id="schema1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateAdvanceStatementHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="employeeNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="advancePurpose" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="postingDescription" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="postingDate" type="xs:date" />
        <xs:element minOccurs="0" maxOccurs="1" name="purchaserCode" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAdvanceStatementHeader_Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="return_value" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAdvanceStatementLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="advStNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="gLAccountNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="vendorPostingGroup" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="descriptionTxt" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="amountInclVAT" type="xs:decimal" />
        <xs:element minOccurs="0" maxOccurs="1" name="purchDocNo" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="purchDocDate" type="xs:date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAdvanceStatementLine_Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="return_value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>